<div id="timeChart"></div> 

<script src="assets/history/js/zoomcharts.js"></script>
<script>
    new TimeChart({
        container:$('#timeChart')[0],
        assetsUrlBase:'../css/',
        data:{
            units:['h'],
            url:'/api/history/meteo.temperature'
        },
        valueAxisDefault:{ title:"Temperature" },
                series:[
                    {
                        name:"Measured tempareture",
                        id:"series1",
                        type:"line",
                        data:{
                            index: 1,
                            aggregation:"avg",
                            aggregatedValueFunction:function(value, time){return time < dataTill ? value: null;}
                        },
                        style:{
                            lineColor: "orange",
                            lineWidth: 2,
                            marker:{
                                shape:"circle"
                            }
                        }
                    },
                    {
                        name:"Forecast tempareture",
                        id:"series2",
                        type:"line",
                        data:{
                            index: 1,
                            aggregation:"avg"
                        },
                        style:{
                            lineColor: "orange",
                            lineDash:[3,10]
                        }
                    }
                ]
    });
</script>